* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

main {
    flex: 1;
    overflow: auto;
    padding: 20px;
}

footer {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    position: sticky;
    bottom: 0;
    color: #e0e0e0; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

footer h2, footer h3 {
    margin: 2px 0; 
    font-family: 'Montserrat', sans-serif;
}

footer h2 {
    font-size: 1.4rem;
    font-weight: bold;
}

footer h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.4s ease-in-out;
    text-decoration: underline;
}

footer a:hover {
    color: yellow;
}

footer a:hover ::after{
    color: yellow;
    transition: color 0.4s ease-out;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.logo a {
    text-decoration: none;
    color: #e0e0e0;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #e0e0e0;
    padding: 8px 12px;
    position: relative;
    transition: color 0.4s ease-in-out;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: all 0.4s ease-in-out;
    transform: translateX(-50%);
}

nav ul li a:hover {
    color: yellow;
}

nav ul li a:hover::after {
    width: 100%;
}

.discord-button a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    background-color: #5865F2;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.discord-user {
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
}

.discord-user a {
    color: #7289da; 
    font-size: 20px; 
    transition: color 0.4s ease-in-out; 
}

.discord-user a:hover {
    color: #5b6eae;
}

.discord-button i {
    font-size: 1.2em;
}

.container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 100px;
}

.title {
    background-color: rgb(44, 42, 42, 0.965); 
    border-radius: 15px; 
    padding: 10px; 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px; 
    font-size: 30px;
	border: 3px solid gray;
	box-shadow: 0px 0px 10px 4px black inset;
}

.card-container {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.card {
    background-color: rgb(44, 42, 42, 0.965); 
    border-radius: 8px;
    box-shadow: 0px 0px 10px 4px black inset;
    margin: 10px; 
    padding: 20px;
    text-align: center; 
    width: 200px;
	border: 3px solid gray;
    margin-bottom: 25px;
}

.avatar {
    width: 75px; 
    height: 75px;
    border-radius: 50%;
    margin-top: 20px;
}

.discord-button a:hover {
    background-color: #5b6eae;
    transform: scale(1.05);
}

.discord-container {
    position: relative;
}

.discord-widget {
    display: none;
    position: absolute;
    top: 100%;
    left: -370px;
    z-index: 1;
}

.discord-button:hover + .discord-widget,
.discord-widget:hover {
    display: block;
}

.main-background {
    background-image: url(/images/space.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 60px 20px;
    color: #e0e0e0;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li {
        margin: 5px 0;
    }

    .discord-button {
        margin-top: 10px;
    }
}
