# This is a template for the .env file. Copy this file to .env and fill in the values.
# This file is used to configure the environment variables for the application.

DEBUG=1

# Discord bot
DISCORD_CLIENT_ID=XXXX
DISCORD_CLIENT_SECRET=none
DISCORD_BOT_TOKEN=none

# Website settings
PORT=20000
PREFERRED_URL_SCHEME=https

# Database
DATABASE_HOST=XXXX
DATABASE_NAME=progressbot_test
DATABASE_USER=test
DATABASE_PASSWORD=XXXX