html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Montserrat';
    font-size: 16px;
    background-image: url(/static/images/space.webp);
    color: #e0e0e0;
    overflow: hidden;
    overflow-y: scroll;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    display: none;
}

content::-webkit-scrollbar {
    display: none;
}

#content {
    height: 100%;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    padding-top: 2rem;
    scrollbar-width: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    margin-bottom: 0rem;
    padding: 0 1rem 0 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 40px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}

.logo a {
    text-decoration: none;
    color: #e0e0e0;
    font-size: 24px;
    font-weight: bold;
}

.logo p {
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #e0e0e0;
    padding: 8px 12px;
    position: relative;
    transition: color 0.4s ease-in-out;
} 

nav ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: all 0.4s ease-in-out;
    transform: translateX(-50%);
}

nav ul li a:hover {
    color: yellow;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a.active,
nav ul li a:hover {
    color: yellow;
}

nav ul li a.active::after,
nav ul li a:hover::after {
    width: 100%;
}


.discord-button a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    background-color: #5865F2;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.discord-button i {
    font-size: 1.2em;
}

.discord-button a:hover {
    background-color: #5b6eae;
    transform: scale(1.05);
}

.discord-container {
    position: relative;
}

.discord-widget {
    display: none;
    position: absolute;
    top: 100%;
    left: -370px;
    z-index: 1;
}

.discord-button:hover + .discord-widget,
.discord-widget:hover {
    display: block;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li {
        margin: 5px 0;
    }

    .discord-button {
        margin-top: 10px;
    }
}

.flag {
    max-height: 1rem;
    border-radius: 15%;
}

/* Different part */