.main-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(44, 42, 42, 0.965);
    min-height: 90%;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 4px black inset;
    border: 3px solid gray;
    position: relative;
    z-index: 10;
}

.search-container {
    background-color: rgba(0, 0, 0, 0.3);
    height: 5rem;
    border-bottom: 2px solid rgb(80, 80, 80);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 20rem;
    height: 2rem;
    position: relative;
}
.search-bar input[type="text"] {
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 24px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: inherit;
}
.search-bar i {
    position: absolute;
    top: 50%;
    padding: 0 0px 0 4px;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgba(44, 42, 42, 0.965);
}

.tabs-container {
    display: flex;
    justify-content: center;
    gap: 2px;
    height: 2rem;
}

.tab-button {
    width: 15rem;
    max-width: 22%;
    background-color: rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    border: 2px solid rgb(80, 80, 80);
    border-top: none;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6) inset;
    font-family: inherit;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    height: 1.5rem; 
    transition: height 0.3s, background-color 0.3s;
}

.tab-button:hover {
    background-color: rgba(255, 255, 255, 0);
}

.tab-button.active {
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
}

.tab-content-container {
    flex: 1;
    display: grid;
    grid-template-areas: "box";
    overflow: hidden;
}

.tab-content {
    overflow: hidden;
    height: 0;
    flex: 1;
    visibility: hidden;
    grid-area: box;
    width: 100%;
    flex-direction: column;
}

.tab-content.active {
    visibility: visible;
    height: auto;
}

.tab-content .map-container {
    height: 5rem;
}

.tab-content.active .map-container {
    height: 6rem;
}

.map-container {
    display: grid;
    grid-template-columns: 10% 40% 30% 20%;
    gap: 0;
    z-index: 1;
    width: 100%;
    height: 6rem;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-shadow: 0px 8px 6px -6px rgba(40, 40, 40, 0.965) inset, 0px -8px 6px -6px rgba(40, 40, 40, 0.965) inset;
    transition: height 0.3s ease-out, background-color 0.3s;
}

.map-container:hover {
    height: 6.5rem !important;
    background-color: rgba(255, 255, 255, 0.15);;
}

.list-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    overflow: hidden;
}

.list-container p {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0 1rem 0;
    transition: font-size 0.1s ease-in;
}

.map-container > div {
    /* padding: 10px; */
    position: relative;
}

.map-container > div:not(:last-child):not(:nth-last-child(2))::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    width: 1px;
    background-color: white;
    z-index: 10;
}

.map-field {
    text-align: center;
}

.map-position {
    font-size: 3rem;
    font-weight: bold;
}

.map-name {
    font-size: 2rem;
    font-weight: bold;
}

.map-creator {
    font-size: 0.8rem;
    font-weight: lighter;
}

.map-status.unverified {
    font-size: 2rem;
    font-weight: lighter;
    color: rgb(255, 110, 110);
}

.map-status.beaten {
    font-size: 1.5rem;
    font-weight: lighter;
    color: rgb(170, 255, 170);
}

.player-card {
    max-height: 1.2rem;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    background-color: rgba(100, 100, 100, 0.1);
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.4) inset;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}

.beaten-by {
    display: flex;
    justify-content: center;
    gap: 6px;
}

.map-image-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    object-fit: contain;
    box-shadow: 0px 8px 6px -6px rgba(40, 40, 40, 0.965) inset, 
    0px -8px 6px -6px rgba(40, 40, 40, 0.965) inset,
    -8px 0px 6px -6px rgba(0, 0, 0, 0.965) inset;
    justify-content: center;
}

.map-image {
    width: 100%;
    display: block;
    position: relative;
    z-index: -1;
    object-fit: cover;
}