.main-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(44, 42, 42, 0.965);
    min-height: 90%;
    width: 60rem;
    max-width: 100vw;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 4px black inset;
    border: 3px solid gray;
    position: relative;
    z-index: 10;
}

#profile-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 26rem auto;
    gap: 15px;
    z-index: 10;
    padding: 15px;
}

.search-container {
    background-color: rgba(0, 0, 0, 0.3);
    height: 5rem;
    border-bottom: 2px solid rgb(80, 80, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-bar {
    width: 20rem;
    height: 2rem;
    position: relative;
}

.search-bar input[type="text"] {
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 24px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: inherit;
    z-index: 1003;
    position: relative;
}

.search-bar input[type="text"]:focus {
    border-radius: 5px;
    transition: ease-in-out 0.04s;
    outline: none;
}

.search-bar i {
    position: absolute;
    top: 50%;
    padding: 0 0px 0 4px;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgba(44, 42, 42, 0.965);
    z-index: 1005;
}

#suggestions-container {
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 10px;
    background-color: rgb(70, 70, 70);
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: 19rem;
    z-index: 1002;
    transition: height 0.2s ease-out;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1) inset;
}

#suggestions-container > :first-child {
    padding-top: 14px;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
    height: 1rem;
}

.suggestion-item:hover {
    background-color: rgb(110, 110, 110);
}

.container {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1) inset;
    border: 2px solid gray;
}

#player-container {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    overflow: hidden;
}

#skin-container {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skin-container img {
    height: 90%;
}

#discord-container {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    height: 20%;
    border-top: 2px solid rgb(100, 100, 100);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.3s;
}

#discord-container:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#discord-container img {
    border-radius: 100%;
    height: 70%;
    /* border: 2px solid rgb(100, 100, 100); */
    background-color: rgba(0, 0, 0, 0.3);
}

.external-link-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgba(100, 100, 250, 1);
    font-size: 1.2em;
}

#info-container {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

#progress-container {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 3 / 3;
    min-height: 10rem;
}

#player-country {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
}

#player-country div {
    font-size: 1.5rem;
    font-weight: lighter;
}

#player-country img {
    height: 1.5rem;
    width: auto;
}

#player-name {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

#rankings-container {
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 0.5rem;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2) inset;
    border-radius: 20px;
    text-align: center;
    font-size: 2rem;
}

#maps-container {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 2 / 2;
    min-height: 15rem;
}

#maps-header {
    text-align: center;
    height: 7rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid gray;
    display: flex;
    flex-direction: column;
}

#maps-header p {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
}

.header-filters-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.profile-dropdown-button {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2) inset;
    outline: none;
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    width: 12rem;
    height: 2.5rem;
    padding: 0;
}

.profile-dropdown-button:active {
    border-style: outset;
    border: 1px solid gray;
}

.profile-dropdown-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.profile-dropdown-content {
    max-height: 0;
    width: 90%;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: rgb(40, 40, 40);
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2) inset;
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile-dropdown-content.open {
    max-height: 200px;
}

.gamemode-dropdown-content input {
    display: none;
}

.gamemode-dropdown-content .custom-checkbox {
    width: 10px;
    height: 10px;
    /* border: 2px solid #ccc; */
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    background-color: white;
    margin-right: 10px;
    opacity: 0;
    position: absolute;
    left: 16px;
}

.gamemode-dropdown-content input[type="checkbox"]:checked + .custom-checkbox {
    opacity: 100;
}

.gamemode-dropdown-content .custom-checkbox {
    transition: opacity 0.1s;
}

.gamemode-dropdown-content input {
    margin-left: 10px;
}

.gamemode-dropdown-content label {
    padding: 12px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    cursor: pointer;
}

.gamemode-dropdown-content .label-text {
    flex-grow: 1;
    text-align: center;
    margin-left: 20px;
}

.gamemode-dropdown-content label:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.gamemode-dropdown-changed {
    font-style: italic;
}

.sort-dropdown-content button {
    display: block;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    height: 2.5rem;
}

.sort-dropdown-content button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#progress-header {
    text-align: center;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid gray;
}

#progress-header p {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
}