.discord-user {
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
}

.discord-user a {
    color: #7289da; 
    font-size: 20px; 
    transition: color 0.4s ease-in-out; 
}

.discord-user a:hover {
    color: #5b6eae;
}

.discord-button i {
    font-size: 1.2em;
}

.container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1000;
}

.title {
    background-color: rgb(44, 42, 42, 0.965); 
    border-radius: 15px; 
    padding: 10px; 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px; 
    font-size: 30px;
	border: 3px solid gray;
	box-shadow: 0px 0px 10px 4px black inset;
}

.card-container {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.card {
    background-color: rgb(44, 42, 42, 0.965); 
    border-radius: 8px;
    box-shadow: 0px 0px 10px 4px black inset;
    margin: 10px; 
    padding: 20px;
    text-align: center; 
    width: 200px;
	border: 3px solid gray;
    margin-bottom: 25px;
}

.avatar {
    width: 75px; 
    height: 75px;
    border-radius: 50%;
    margin-top: 20px;
}
