<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dashboard</h1>
</body>
<script>
    window.addEventListener('beforeunload', function() {
        fetch('/invalidate-token', {
            method: 'POST',
            body: JSON.stringify({ token: '{{ token }}' }),
            headers: { 'Content-Type': 'application/json' }
        });
    });
</script>
</html>