<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkour Progress - Home</title>
    <link rel="stylesheet" href="static/css/indexstyles.css">
    <link rel="stylesheet" href="static/css/global.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="https://cdn.discordapp.com/icons/913838786947977256/31e403312e7ac1efd09c901d391a3538.webp" alt="Logo" class="logo-image"></a>
            <div class="logo-text">
                <a href="/">Parkour Progress</a>
                <p>Crafted by ImChill1n and Texyle</p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/staff">Staff</a></li>
                <li><a href="/maps">Maps</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
        <div class="discord-container">
            <div class="discord-button">
                <a href="https://discord.gg/n6uxKDMsNZ" target="_blank">
                    <i class="fab fa-discord"></i> Join Discord
                </a>
            </div>
            <div class="discord-widget">
                <iframe src="https://discord.com/widget?id=913838786947977256&theme=dark" width="350" height="650" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            </div>
        </div>
    </header>
    <main class="main-background">
        <section class="description">
            <h1>Welcome to Parkour Progress!</h1>  
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati a repellat neque provident pariatur natus amet dicta eos earum odit! Delectus quasi voluptatum ipsum alias distinctio labore? Sint, aliquam fugit?
            Enim explicabo hic pariatur laboriosam, et necessitatibus consectetur in quam culpa temporibus quisquam voluptatem fugiat veritatis. Unde id quis, pariatur fuga consequatur sit, magnam soluta, provident enim corporis libero iure.
            Cum non dolores exercitationem magnam debitis ratione quam aspernatur similique consectetur? Voluptatibus, eum recusandae. Excepturi harum maxime consequatur voluptatem iure iusto voluptas sunt praesentium quia molestias! Dolore saepe assumenda laborum.
            Quasi sint iusto enim dignissimos praesentium, assumenda aperiam iure, quia sed cum optio. Quasi soluta reiciendis quo qui pariatur expedita, sint esse officiis eligendi excepturi quae, possimus tenetur, facilis perferendis.
            Veniam, mollitia provident optio tempora quod cum iure est nulla. At quisquam ducimus culpa et debitis id quae facilis, molestiae tenetur enim ab dolore voluptas consectetur eos excepturi soluta reprehenderit?</p>
        </section>
        <div class="discord-widget">
            <iframe src="https://discord.com/widget?id=913838786947977256&theme=dark" width="350" height="650" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
        <div class="container">
            <section class="description2">
                <h1>Latest Victors</h1>
                <p id="latest_victors"></p>
            </section>
        </div>  
    </main> 
    <script src="static/js/index.js"></script>
</body>
</html>
