{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="static/css/indexstyles.css">
{% endblock %}

{% block content %}
    <section class="description">
        <h1>Welcome to Parkour Progress!</h1>  
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati a repellat neque provident pariatur natus amet dicta eos earum odit! Delectus quasi voluptatum ipsum alias distinctio labore? Sint, aliquam fugit?
        Enim explicabo hic pariatur laboriosam, et necessitatibus consectetur in quam culpa temporibus quisquam voluptatem fugiat veritatis. Unde id quis, pariatur fuga consequatur sit, magnam soluta, provident enim corporis libero iure.
        Cum non dolores exercitationem magnam debitis ratione quam aspernatur similique consectetur? Voluptatibus, eum recusandae. Excepturi harum maxime consequatur voluptatem iure iusto voluptas sunt praesentium quia molestias! Dolore saepe assumenda laborum.
        Quasi sint iusto enim dignissimos praesentium, assumenda aperiam iure, quia sed cum optio. Quasi soluta reiciendis quo qui pariatur expedita, sint esse officiis eligendi excepturi quae, possimus tenetur, facilis perferendis.
        Veniam, mollitia provident optio tempora quod cum iure est nulla. At quisquam ducimus culpa et debitis id quae facilis, molestiae tenetur enim ab dolore voluptas consectetur eos excepturi soluta reprehenderit?</p>
    </section>
    <div class="container">
        <section class="description2">
            <h1>Latest Victors</h1>
            <p id="latest_victors"></p>
        </section>
    </div>  
    <script src="static/js/index.js"></script>
{% endblock %}

