{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="static/css/leaderboardstyles.css">
    <title>Parkour Progress - Leaderboard</title>
{% endblock %}

{% block content %}
    <section class="form">
        <h1>Select Leaderboad Type</h1>
        <div class="button-container">
            <button id="button" onclick="window.location.href='/leaderboard/players'">Player Leaderboard</button>
            <button id="button" onclick="window.location.href='/leaderboard/country'">Country Leaderboard</button>
        </div>
    </section>
{% endblock %}

