<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkour Progress - Map</title>
    <link rel="stylesheet" href="/static/css/mapstyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>

<body>
    <div id="bg-blur">
        <header>
            <div class="logo">
                <a href="/"><img src="/static/images/icon.jpg" alt="Logo" class="logo-image"></a>
                <a href="/">Parkour Progress</a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/staff">Staff</a></li>
                    <li><a href="/maps">Maps</a></li>
                    <li><a href="/profile">Profile</a></li>
                </ul>
            </nav>
            <div class="discord-container">
                <div class="discord-button">
                    <a href="https://discord.gg/n6uxKDMsNZ" target="_blank">
                        <i class="fab fa-discord"></i> Join Discord
                    </a>
                </div>
                <div class="discord-widget">
                    <iframe src="https://discord.com/widget?id=913838786947977256&theme=dark" width="350" height="650" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                </div>
            </div>
        </header> 

        <div id="main-box" class="content">
            <h1>{{ map.MapName }}</h1>
            <h3>{{ map.Gamemode }} - {% if map.Extra %}Extra{% else %}Main{% endif %}</h3>
            <hr />
            {% if map.VideoURL != "Unknown" %}
                <div class="container">
                    <div class="video-container">
                        {{ map.VideoURL | safe }}
                    </div>
                </div>
            {% endif %}


            <div class="table-box-wrapper">
                <div class="table-box collapsed" id="table-box-victors">
                    <button type="button" class="collapse" id="collapse-victors">Victors</button>
                    <table class="table table-victors">
                        <colgroup>
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 40%;">
                            <col span="1" style="width: 30%;">
                            <col span="1" style="width: 20%;">
                         </colgroup>
                        <tbody>
                            {% for victor in victors %}
                            <tr>
                              <td>
                                <div style="font-size: 2rem; font-weight: 800;">{{ loop.index }}</div>
                              </td>
                              <td>
                                <div style="display: flex; align-items: center; gap: 12px;">
                                    {% if victor.UUID is not none %}
                                  <img src="https://vzge.me/bust/{{ victor.Name }}.png" alt="Bust" style="height: 48px;">
                                    {% else %}
                                    <img src="https://vzge.me/bust/X-Steve.png" alt="Bust" style="height: 48px;">
                                    {% endif %}
                                  <div>
                                    <div style="font-weight: bold;">{{ victor.Name }}</div>
                                    <div style="font-size: 0.9rem; color: #777; align-self: left;">Slovakia</div>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div style="font-style: italic; color: #4e9aff; font-size: 1.1rem;">
                                  {{ victor.Date }}
                                </div>
                              </td>
                              <td>
                                <div style="color: #f55; font-weight: 600;">
                                  {{ victor.Fails }}
                                </div>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                          
                    </table>
                </div>
            </div>

            <div class="table-box-wrapper">
                <div class="table-box collapsed" id="table-box-sections">
                    <button type="button" class="collapse" id="collapse-sections">Sections</button>
                    <ul class="table list-sections">
                        <li>
                            <div class="section-header">
                                <span class="toggle-icon">&#9654;</span>
                                <span class="section-name">S1</span>
                                <span class="section-reached">3 players reached</span>
                            </div>
                            <ul class="list list-section-players">
                                <li>Texyle</li>
                                <li>Texyle</li>
                                <li>Texyle</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <i class="far fa-eye eye-icon"></i>
    </div>

    <script type="text/javascript">
        const mapName = "{{ map.MapName|safe }}";
    </script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/map.js"></script>
    <script>
        async function changeTitle() {
            const mapName = "{{ map.MapName|safe }}";
            document.title = mapName + " - Parkour Progress";
        }

        document.addEventListener("DOMContentLoaded", changeTitle)
    </script>
    <script src="/static/js/pagetitle.js" defer></script>
</body>

</html> 