{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="static/css/mapsstyles.css">
    <title>Maps - Parkour Progress</title>
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="search-container">
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Enter map name" id="map-search">
            </div>
        </div>
        <div class="tabs-container">
            {% for gamemode in maps %}
                <button class="tab-button" data-tab="{{ gamemode }}">{{ gamemode }}</button>
            {% endfor %}
        </div>

        <div class="tab-content-container">
            {% for gamemode, lists in maps.items() %}
            <div class="tab-content" id="{{ gamemode }}">
                {% if lists['Main'] | length > 0 %}
                    <div class="list-container">
                        <p>MAIN LIST</p>
                        {% for map in lists['Main'] %}
                            <div class="map-container" onclick="redirectToMapPage('{{ map['MapID'] }}')">
                                <div class="map-field map-position">{{ loop.index0 + 1 }}</div>
                                <div class="map-field map-title">
                                    <div class="map-name">{{ map['Name'] }}</div>
                                    <div class="map-creator">{{ map['Builder'] }}</div>
                                </div>

                                {% if map['FirstVictorID'] is none %}

                                <div class="map-field map-status unverified">UNVERIFIED</div>

                                {% else %}

                                <div class="map-field map-status beaten">
                                    <div class="beaten-by">
                                        <div>Beaten by</div>
                                        <div class="player-card">
                                            <img class="flag" loading="lazy" src="{{ url_for('static', filename=flags[map['FirstVictorCountry']]) }}" alt="{{ code }}">
                                            <div>{{ map['FirstVictorName'] }}</div>
                                        </div>
                                    </div>
                                    {% if map['VictorCount']-1 > 0 %}
                                        <div>and {{ map['VictorCount']-1 }} others</div>
                                    {% endif %}
                                </div>

                                {% endif %}

                                <div class="map-field map-image-container">
                                    {% set map_name = map['Name']|to_filename %}
                                    {% set map_name = map_name ~ '_small' %}
                                    {% set filename = map_images[map_name] %}
                                    <img class="map-image" loading="lazy" src="{{ url_for('static', filename=filename) }}" alt="{{ map['Name'] }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if lists['Extra'] | length > 0 %}
                    <div class="list-container">
                        <p>EXTRA LIST</p>
                        {% set index_start = lists['Main']|length %}
                        {% for map in lists['Extra'] %}
                            <div class="map-container" onclick="redirectToMapPage('{{ map['MapID'] }}')">
                                <div class="map-field map-position">{{ loop.index0 + 1 + index_start }}</div>
                                <div class="map-field map-title">
                                    <div class="map-name">{{ map['Name'] }}</div>
                                    <div class="map-creator">{{ map['Builder'] }}</div>
                                </div>
                                {% if map['FirstVictorID'] is none %}

                                <div class="map-field map-status unverified">UNVERIFIED</div>

                                {% else %}

                                <div class="map-field map-status beaten">
                                    <div class="beaten-by">
                                        <div>Beaten by</div>
                                        <div class="player-card">
                                            <img class="flag" loading="lazy" src="{{ url_for('static', filename=flags[map['FirstVictorCountry']]) }}" alt="{{ code }}">
                                            <div>{{ map['FirstVictorName'] }}</div>
                                        </div>
                                    </div>
                                    {% if map['VictorCount']-1 > 0 %}
                                        <div>and {{ map['VictorCount']-1 }} others</div>
                                    {% endif %}
                                </div>

                                {% endif %}
                                <div class="map-field map-image-container">
                                    {% set map_name = map['Name']|to_filename %}
                                    {% set map_name = map_name ~ '_small' %}
                                    {% set filename = map_images[map_name] %}
                                    <img class="map-image" loading="lazy" src="{{ url_for('static', filename=filename) }}" alt="{{ map['Name'] }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="static/js/maps.js"></script>
{% endblock %}