{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="static/css/profilestyles.css">
{% endblock %}

{% block content %}
    <section class="modal">
        <h1>Player Profile</h1>
        <p>To display Player's profile, please enter desired In Game Name below.</p>
        <div class="input-container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" name="player-name" id="player-name" autocomplete="off">
            <div id="suggestions" class="suggestions-box"></div>
        </div>
        <p id="result-message"></p>
    </section>
    <div class="info-container">
        <section class="player-info">
            <h1>Player Profile</h1>
            <p id="ign"><b>IGN:</b></p>
            <p id="country"><b>Country:</b></p>
            <p id="discordid"><b>Discord:</b> <a href="" id="discord-link">Click Here</a></p>
            <img src="" class="avatar" id="avatar">
        </section>
        <section class="maps">
            <h1 id="map-title">Rankup</h1>
            <p id="map-list"></p>
        </section>
        <section class="buttons">
            <button id="Rankup">Rankup</button>
            <button id="Segmented">Segmented</button>
            <button id="Onlysprint">Onlysprint</button>
            <button id="Tag">Tag</button>
            <button id="Progress">Maps in Progress</button>
        </section>
    </div>
    <script src="static/js/profile.js"></script>
{% endblock %}
