{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/profilestyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>{{ player_data['Name']  }}'s Profile - Parkour Progress</title>
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="search-container">
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Enter player name" id="map-search" autocomplete="off">
                <div id="suggestions-container"></div>
            </div>
        </div>
        <div id="profile-container">
            {% if player_data is not none %}
                <div class="container" id="player-container">
                    <div id="skin-container">
                        <img src="" id="skin-img">
                    </div>
                    <div id="discord-container">
                        <i class="fas fa-external-link-alt external-link-icon"></i>
                        <img id="discord-pfp" src="" alt="">
                        <p id="discord-username">
                    </div>
                </div>
                <div id="info-container">
                    <div id="player-info">
                        <p id="player-name">{{ player_data['Name']  }}</p>
                        <div id="player-country" onclick="redirectToCountryPage('{{ player_data['CountryCode'] }}')">
                            <img class="flag" src="{{ url_for('static', filename=flags[player_data['CountryCode']]) }}" alt="{{ code }}">
                            <div>{{ player_data['CountryName'] }}</div>
                        </div>
                    </div>
                    <div id="rankings-container">
                        RANKINGS<br>COMING SOON
                    </div>
                </div>
                <div class="container" id="maps-container">
                    <div id="maps-header">
                        <p>Completed Maps</p>
                        <div class="header-filters-container">
                            <div class="gamemode-dropdown profile-dropdown">
                                <button onclick="toggleDropdown(event)" class="profile-dropdown-button">Gamemodes</button>
                                <div id="maps-gamemode-dropdown-content" class="gamemode-dropdown-content profile-dropdown-content">
                                    {% for gamemode in gamemodes %}
                                        <label>    
                                            <input type="checkbox" value="Option {{ loop.index0 + 1 }}" checked>
                                            <span class="custom-checkbox"></span>
                                            <span class="label-text">{{ gamemode['Name'] }}</span>
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="sort-dropdown profile-dropdown">
                                <button onclick="toggleDropdown(event)" class="profile-dropdown-button">Sort by: Recent</button>
                                <div id="maps-sort-dropdown-content" class="sort-dropdown-content profile-dropdown-content">
                                    <button onclick="selectOption(event, 'Recent')">Recent</button>
                                    <button onclick="selectOption(event, 'Difficulty')">Difficulty</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if maps | length > 0 %}
                        <div id="map-list-container">
                            {% for map in maps %}
                                <div class="map-container" data-position="{{ map['Position'] }}" onclick="redirectToMapPage('{{ map['MapID'] }}')">
                                    <div class="map-field map-title">
                                        <div class="map-name">{{ map['Name'] }}</div>
                                        {% if map['FailsMessage'] is not none %}
                                            <div class="map-fails">{{ map['Fails'] }} {{ map['FailsMessage'] }} fails</div>
                                        {% endif %}
                                    </div>
                                    <div class="map-field map-type">
                                        <div class="map-gamemode">{{ map['Gamemode'] }}</div>
                                        {% if map['Extra'] == 0 %}
                                            <div class="map-status">Main</div>
                                        {% else %}
                                            <div class="map-status">Extra</div>
                                        {% endif %}
                                    </div>
                                    <div class="map-field map-date">
                                        <div class="map-date">{{ map['Date'] }}</div>
                                        <div class="map-fails">#{{ map['VictorPosition'] }}</div>
                                    </div>
                                    <div class="map-field map-image-container">
                                        {% set map_name = map['Name']|to_filename %}
                                        {% set map_name = map_name ~ '_small' %}
                                        {% set filename = map_images[map_name] %}
                                    <img class="map-image" loading="lazy" src="{{ url_for('static', filename=filename) }}" alt="{{ map['Name'] }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="container" id="progress-container">
                    <div id="progress-header">
                        <p>Maps in Progress</p>
                        <div class="header-filters-container">
                            <div class="gamemode-dropdown profile-dropdown">
                                <button onclick="toggleDropdown(event)" class="profile-dropdown-button">Gamemodes</button>
                                <div id="profile-gamemode-dropdown-content" class="gamemode-dropdown-content profile-dropdown-content">
                                    <label>    
                                        <input type="checkbox" value="Option 1" checked>
                                        <span class="custom-checkbox"></span>
                                        <span class="label-text">Rankup</span>
                                    </label>
                                    <label>    
                                        <input type="checkbox" value="Option 1" checked>
                                        <span class="custom-checkbox"></span>
                                        <span class="label-text">Segmented</span>
                                    </label>
                                    <label>    
                                        <input type="checkbox" value="Option 1" checked>
                                        <span class="custom-checkbox"></span>
                                        <span class="label-text">Onlysprint</span>
                                    </label>
                                    <label>    
                                        <input type="checkbox" value="Option 1" checked>
                                        <span class="custom-checkbox"></span>
                                        <span class="label-text">Tag</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if progress | length > 0 %}
                        <div id="progress-list-container">
                            {% set juku_cps = {
                                "<@&1120013547892646050>": "CP2",
                                "<@&1120013758920654909>": "CP3",
                                "<@&1120013825907892265>": "CP4",
                                "<@&1120013855746170940>": "CP5",
                                "<@&1120013881847324823>": "CP6",
                                "<@&1120013899991875724>": "CP7",
                                "<@&1120013930782265425>": "CP8"
                            } %}
                            {% for map in progress %}                 
                                <div class="progress-container" data-position="{{ map['Position'] }}" onclick="redirectToMapPage('{{ map['MapID'] }}')">
                                    <div class="progress-field progress-title">
                                        <div class="progress-name">{{ map['Name'] }}</div>
                                    </div>
                                    <div class="progress-field progress-type">
                                        <div class="progress-gamemode">{{ map['Gamemode'] }}</div>
                                    </div>
                                    <div class="progress-field progress-section">
                                        {% if map['Name'] == 'Juku Section' %}
                                            <div class="progress-section">{{ juku_cps.get(map['Section']) }}</div>
                                        {% else %}
                                            <div class="progress-section">{{ map['Section'] }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="progress-field progress-image-container">
                                        {% set map_name = map['Name']|to_filename %}
                                        {% set map_name = map_name ~ '_small' %}
                                        {% set filename = map_images[map_name] %}
                                        <img class="map-image" loading="lazy" src="{{ url_for('static', filename=filename) }}" alt="{{ map['Name'] }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <script>
                    const playerData = {{ player_data | tojson }};
                </script>
            {% else %}
                reminder for myself to do something with this blank box (go search for a player)
            {% endif %}
        </div>
    </div>

    <script>
        const playerNames = {{ player_names | tojson }};
        {% if maps | length > 0 %}
        const maps = {{ maps | tojson }}
        {% endif %}
    </script>
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/profile_maps.js') }}"></script>
{% endblock %}

