{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/profilestyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>[add player name here]'s Profile - Parkour Progress</title>
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="search-container">
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Enter player name" id="map-search">
                <div id="suggestions-container"></div>
            </div>
        </div>
        <div id="profile-container">
            {% if player_data is defined %}
                <div class="container" id="player-container">
                    <div id="skin-container">
                        <img src="" id="skin-img">
                    </div>
                    <div id="discord-container">
                        <i class="fas fa-external-link-alt external-link-icon"></i>
                        <img id="discord-pfp" src="" alt="">
                        <p id="discord-username">
                    </div>
                </div>
                <div class="container" id="rankings-container">{{ player_data['Name']  }}</div>
                <div class="container" id="maps-container">maps</div>
                <div class="container" id="progress-container">progress</div>

                <script>
                    const playerData = {{ player_data | tojson }};
                </script>
            {% else %}
                <div class="container" id="player-container">player</div>
                <div class="container" id="rankings-container">rankings</div>
                <div class="container" id="maps-container">maps</div>
                <div class="container" id="progress-container">progress</div>
            {% endif %}
        </div>
    </div>

    <script>
        const playerNames = {{ player_names | tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}

